.content-container{
	width: 80%;
	margin: 0 auto;
}

.content-title-wrapper{
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.info-wrapper{
	height: 10%;
}

.content-body-wrapper{
	height: 60%;
}